@model BaiTap.Models.PhieuNhapKhoViewModel
@{
    ViewBag.Title = "NhapKho";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Phieu nhap hang</h2>


<main id="main" class="main" style="width:100%">

    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <div class="Timkiem">
        <form action="@Url.Action("TimKiem", "TimKiem")" method="get">
            <div class="input-group">
                <input type="text"
                       class="form-control"
                       name="name"
                       placeholder="Tim kiem..." />
                <button type="submit" value="Tim">
                    <div class="input-group-append">
                        <span class="input-group-text bg-transparent text-primary">
                            <i class="fa fa-search"></i>
                        </span>
                    </div>
                </button>
            </div>
        </form>
    </div>
    <div class="Loc">

        <p>Lọc sản phẩm</p>

        <!-- Button to trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#filterModal">
            <i class="fa fa-filter"></i> Lọc
        </button>

        <!-- Modal -->
        <div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="filterModalLabel">Lọc Sản Phẩm</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    @using (Html.BeginForm("LocSanPham", "TimKiem", FormMethod.Get))
                    {
                        BaiTap.Models.Model1 db = new BaiTap.Models.Model1();
                        <div class="modal-body">
                            <!-- Form để nhập thông tin lọc -->
                            <div id="filterForm">
                                <div class="form-group">
                                    <label for="tenSanPham">Tên Sản Phẩm</label>
                                    <input type="text" class="form-control" id="tenSanPham" name="name">
                                </div>
                                <div class="form-group">
                                    <label for="giaTu">Giá Từ</label>
                                    <input type="number" class="form-control" id="giaTu" name="from">
                                </div>
                                <div class="form-group">
                                    <label for="giaDen">Giá Đến</label>
                                    <input type="number" class="form-control" id="giaDen" name="to">
                                </div>
                                <div class="form-group">
                                    <label for="danhMuc">Danh Mục</label>
                                    @{
                                        var DM = db.DanhMucs.ToList();
                                    }
                                    <select name="idDM" class="form-control">
                                        @foreach (var item in DM)
                                        {
                                            <option value="@item.DanhMucID">@item.TenDanhMuc</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="hang">Hãng</label>
                                    @{
                                        var Hangs = db.Hangs.ToList();
                                    }
                                    <select name="idHang" class="form-control">
                                        @foreach (var item in Hangs)
                                        {
                                            <option value="@item.HangID">@item.TenHang</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group">
                                    <p>Sắp xếp theo</p>
                                    @Html.DropDownList("sapXep", new SelectList(new[] {
                                        new SelectListItem { Text = "Giá Tăng Dần", Value = "Giatang" },
                                        new SelectListItem { Text = "Giá Giảm Dần", Value = "Giagiam" }
                                    }, "Value", "Text"), new { @class = "form-control" })
                                </div>
                                <button type="submit" class="btn btn-primary" id="applyFilter">Áp Dụng</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <section class="section dashboard">
        <div class="row">
            <!-- Left side columns tim de thay doi chieu rong cua giao dien ben phai -->
            <div class="col-lg-8" style="width:1200px">

                <div class="row">

                    <!-- Recent Sales -->
                    <div class="col-12">
                        <div class="card recent-sales overflow-auto">

                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Filter</h6>
                                    </li>

                                    <li><a class="dropdown-item" href="#">Today</a></li>
                                    <li><a class="dropdown-item" href="#">This Month</a></li>
                                    <li><a class="dropdown-item" href="#">This Year</a></li>
                                </ul>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title">Recent Sales <span>| Today</span></h5>
                                @using (Html.BeginForm("NhapKho", "QuanLyTonKho", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    BaiTap.Models.Model1 db = new BaiTap.Models.Model1();
                                    @Html.AntiForgeryToken()
                                    <hr />

                        
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.SanPham.TenSanPham, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.SanPham.TenSanPham, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.SanPham.TenSanPham, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.SanPham.MoTa, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.SanPham.MoTa, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.SanPham.MoTa, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.SanPham.Gia, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.SanPham.Gia, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.SanPham.Gia, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.SanPham.DanhMucID, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @{

                                                    var DM = db.DanhMucs.ToList();
                                                }
                                                <select name="DanhMucID" class="form-control">
                                                    @foreach (var item in DM)
                                                    {
                                                        <option value="@item.DanhMucID" @(item.DanhMucID == Model.SanPham.DanhMucID ? "selected" : "")>@item.TenDanhMuc</option>
                                                    }
                                                </select>
                                                @Html.ValidationMessageFor(model => model.SanPham.DanhMucID, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.DanhMucMoi, "Tên danh mục mới", new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.DanhMucMoi, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.DanhMucMoi, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">

                                            @Html.LabelFor(model => model.SanPham.HangID, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @{
                                                    var Hang = db.Hangs.ToList();
                                                }
                                                <select name="HangID" class="form-control">

                                                    @foreach (var item in Hang)
                                                    {
                                                        <option value="@item.HangID" @(item.HangID == Model.SanPham.HangID ? "selected" : "")>@item.TenHang</option>

                                                    }
                                                </select>
                                                @Html.ValidationMessageFor(model => model.SanPham.HangID, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class=" form-group">
                                            @Html.LabelFor(model => model.HangsxMoi, "Hang san xuat moi", new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.HangsxMoi, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.HangsxMoi, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.SanPham.HinhAnh, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.SanPham.HinhAnh, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.SanPham.HinhAnh, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ChiTietSanPham.ManHinh, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.ChiTietSanPham.ManHinh, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.ChiTietSanPham.ManHinh, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ChiTietSanPham.HeDieuHanh, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.ChiTietSanPham.HeDieuHanh, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.ChiTietSanPham.HeDieuHanh, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ChiTietSanPham.CameraTruoc, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.ChiTietSanPham.CameraTruoc, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.ChiTietSanPham.CameraTruoc, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ChiTietSanPham.CameraSau, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.ChiTietSanPham.CameraSau, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.ChiTietSanPham.CameraSau, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ChiTietSanPham.Chip, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.ChiTietSanPham.Chip, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.ChiTietSanPham.Chip, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ChiTietSanPham.RAM, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.ChiTietSanPham.RAM, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.ChiTietSanPham.RAM, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ChiTietSanPham.BoNhoTrong, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.ChiTietSanPham.BoNhoTrong, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.ChiTietSanPham.BoNhoTrong, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ChiTietSanPham.Sim, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.ChiTietSanPham.Sim, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.ChiTietSanPham.Sim, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ChiTietSanPham.Pin, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.ChiTietSanPham.Pin, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.ChiTietSanPham.Pin, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.TonKho.SoLuongTon, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.TonKho.SoLuongTon, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.TonKho.SoLuongTon, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <button type="submit" class="btn btn-default">Lưu</button>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

</main><!-- End #main -->




