@model IEnumerable<BaiTap.Models.ChiTietSanPham>

@{
    ViewBag.Title = "DSChiTiet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DSChiTiet</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SanPhamID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManHinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HeDieuHanh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CameraTruoc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CameraSau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Chip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RAM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BoNhoTrong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pin)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SanPhamID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ManHinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HeDieuHanh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CameraTruoc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CameraSau)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Chip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RAM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BoNhoTrong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pin)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ChiTietSanPhamID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ChiTietSanPhamID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ChiTietSanPhamID })
        </td>
    </tr>
}

</table>
